node_modules/
dist/
vite-dev.err.log
vite-dev.log
.env
guide.MD
AWS_HOSTING.MD
Mpesaguide.MD
operation.MD
Quotation.MD
.pdf
.env.*
.env.local
.env.*.local
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
